aiohttp
aiosignal
aom
async-timeout
attrs
brotli
brotli-bin
brotli-python
brotlicffi
brotlipy
bzip2
ca-certificates
cairo
certifi
cffi
charset-normalizer
click
cryptography
dav1d
discord.py
expat
ffmpeg
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
freetype
fribidi
frozenlist
gettext
gmp
gnutls
graphite2
harfbuzz
icu
idna
lame
libass
libbrotlicommon
libbrotlidec
libbrotlienc
libcxx
libexpat
libffi
libglib
libiconv
libidn2
libopus
libpng
libsodium
libsqlite
libtasn1
libunistring
libvpx
libxml2
libzlib
multidict
mutagen
ncurses
nettle
openh264
openssl
p11-kit
pcre2
pip
pixman
pycparser
pycryptodomex
pynacl
pyopenssl
pysocks
python
python-dotenv
python_abi
readline
requests
setuptools
six
sqlite
svt-av1
tk
typing-extensions
typing_extensions
tzdata
urllib3
websockets
wheel
x264
x265
xz
yarl
yt-dlp
zlib
